*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-08-25-pythonlearnings.md
_posts/2022-08-25-pythonlearnings.md
_posts/2022-08-26-calc.md
_posts/2022-08-26-calc.md
_posts/2022-08-24-An-IED-Assignment.md
_posts/2022-08-22-two.md
_posts/2022-08-21-firstnotebook.md
