*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-08-25-pythonlearnings.md
_posts/2022-08-25-pythonlearnings.md
_posts/2022-08-26-calc.md
_posts/2022-08-26-calc.md
_posts/2022-08-24-An-IED-Assignment.md
_posts/2022-08-22-two.md
_posts/2022-08-21-firstnotebook.md
_posts/2022-10-17-PBL-javascript_frontend.md
_posts/2022-10-17-PBL-webapi_tutorial.md
_posts/2022-10-09-error.md
_posts/2022-10-09-error.md
_posts/2022-10-09-error.md
_posts/2022-09-25-javatable.md
_posts/2022-09-25-javaip.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2023-01-10-PBL-model.md
_posts/2022-12-07-developing-procedures.md
_posts/2022-12-06-lessonComplete.md
_posts/2022-12-05-lesson3.md
_posts/2022-12-12-randomvalues.md
_posts/2022-11-28-lessonnotes.md
_posts/2022-11-28-our.md
_posts/2022-12-05-final_Iteration_lesson.md
_posts/2022-12-06-notesvocab.md
_posts/2022-12-12-Simulations.md
_posts/2023-01-06-dd-lesson.md
